/* Header */

.header {
    height: 10vh;
    background-color: #586BA4;
    display: flex;
    align-items: center;
}

.header-name {
    margin-left: 3rem;
    width: 50%;
    padding: 1rem;
}

.header-nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

.nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;;
    border-radius: 5px; 
    font-size: larger;
    text-align: center;
}

.nav-link:hover {
    background-color: #435a77;
}

.nav-link.active {
    background-color: #ffffff;
    color: #000000;
}


/* Intro */

.intro-container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.profile-picture {
    width: 50%;
    height: 70%;
}